<div class="container">
    <div class="row">
        <div class="spacer50"></div>
        <h3>About</h3>
        <hr>
        <p>Every software company uses some kind of revision control. Isn't it shocking then that students often make it through their entire four years of undergrad CS without learning how to use source control tools?</p>
        <p>The GitSubmit team posits that one possible reason this happens is that the workflow that comes with available revision control tools and platforms do not mesh well with the workflow of academia: professors need ways to keep students accountable that don’t fit into the corporate world and use cases.</p>
        <p>GitSubmit provides a solution for tracking and submitting source code that relates to academic projects and assignments. GitSubmit provides many of the functions that exist in other great platforms such as <a href="https://github.com/">GitHub</a>, <a href="https://about.gitlab.com/">GitLab</a>, and <a href="https://bitbucket.org/">BitBucket</a>, but with a focus on academic use cases. This gives professors peace of mind while allowing students to learn valuable Source Control concepts and technologies they will use every day in their professions.</p>
        <p>GitSubmit is built with <a href="http://flask.pocoo.org/">Flask (python)</a>, <a href="http://materializecss.com/">Materialize CSS</a>, and <a href="https://angularjs.org/">AngularJS</a>. GitSubmit was developed as a Senior Design project in the Erik Jonsson School of Engineering & Computer Science during the fall of 2015. GitSubmit is <a href="https://github.com/gitsubmit">free open source software!</a></p>

        <div class="spacer20"></div>
        <h3>The Team</h3>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel white">
                <img src="assets/imgs/spencer.jpg" class="responsive-img">
                <h5>Spencer Hawkins</h5>
                <p>Door-to-door Git Evangelist</p>
                <p>Pacific Northwesterner transplanted in Texas. CS student at UTD. Validation engineer at Tesla Motors.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5">
            <div class="card-panel white">
                <img src="assets/imgs/tristan.jpg" alt="" class="responsive-img">
                <h5>Tristan Duckworth</h5>
                <p>Front End Avoidance Expert</p>
                <p>Average CS Dude. Advocate for use of assembly in frontend, backend, database, data, frameworks, protocols, coding standards, everyday language, carrier pigeon tail numbers, and cooking recipes.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel white">
                <img src="assets/imgs/son.jpg" alt="" class="responsive-img">
                <h5>Son A. "Sonny" Pham</h5>
                <p>Chief JavaScript Wrangler</p>
                <p>Another asian dude with glasses. CS senior at UTDallas. Temporary Texas resident. Prospective Noogler. Likes Chipotle and does not often speak in the third person.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5">
            <div class="card-panel white">
                <img src="assets/imgs/konrad.jpg" alt="" class="responsive-img">
                <h5>Konrad Ryce</h5>
                <p>Python Handler</p>
                <p>Actually goes by Dustin for unknown reasons.
                Learned Python and Flask from some old guy in a swamp.
                Eats more candy than he should.
                </p>
            </div>
        </div>

    </div>
</div>
