<div class="parallax-container">
    <div class="parallax"><img src="assets/imgs/caleb_ralston.jpg"></div>
</div>
<div class="section container white">
    <div class="row">
        <h2>About</h2>
        <p>Python-based GitHub clone geared towards academic uses.</p>

        <h3>The Team</h3>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel white">
                <img src="assets/imgs/spencer.jpg" class="responsive-img">
                <h5>Spencer Hawkins</h5>
                <p>Door-to-door Git Evangelist</p>
                <p>Pacific Northwesterner transplanted in Texas. CS student at UTD. Validation engineer at Tesla Motors.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5">
            <div class="card-panel white">
                <img src="assets/imgs/tristan.jpg" alt="" class="responsive-img">
                <h5>Tristan Duckworth</h5>
                <p>Front End Avoidance Expert</p>
                <p>Average CS Dude. Advocate for use of assembly in frontend, backend, database, data, frameworks, protocols, coding standards, everyday language, carrier pigeon tail numbers, and cooking recipes.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5 offset-l1">
            <div class="card-panel white">
                <img src="assets/imgs/son.jpg" alt="" class="responsive-img">
                <h5>Son A. "Sonny" Pham</h5>
                <p>Chief JavaScript Wrangler</p>
                <p>Another asian dude with glasses. CS senior at UTDallas. Temporary Texas resident. Prospective Noogler. Likes Chipotle and does not often speak in the third person.
                </p>
            </div>
        </div>
        <div class="col s12 m6 l5">
            <div class="card-panel white">
                <img src="assets/imgs/konrad.jpg" alt="" class="responsive-img">
                <h5>Konrad Ryce</h5>
                <p>Python Handler</p>
                <p>Actually goes by Dustin for unknown reasons.
                Learned Python and Flask from some old guy in a swamp.
                Eats more candy than he should.
                </p>
            </div>
        </div>

    </div>
</div>
