<div class="container">
  <div class="row">
    <h2>Class <span ng-bind="class_name"></span></h2>
    <hr />
    <p class="description"><span ng-bind="class_description"></span></p>
    <p>Owner: <b><span ng-bind="class_owner"></span></b></p>
  </div>
  <div class="row">
    <div class="col m8 s12">
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent"><h3>Projects</h3></li>
        <li ng-repeat="project in projects" class="collection-item">
          <a href="#/classes/{{project.parent}}/projects/{{project.url_name}}">{{project.long_name}}</a>
          <br>{{project.due}}
        </li>
        <li ng-show="!projects.length"><i>No projects!</i></li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent"><h3>Projects (overdue)</h3></li>
        <li ng-repeat="project in overdue_projects" class="collection-item">
          <a href="#/classes/{{project.parent}}/projects/{{project.url_name}}">{{project.long_name}}</a>
          <br>{{project.due}}
        </li>
        <li ng-show="!overdue_projects.length"><i>No overdue projects!</i></li>
      </ul>
    </div>
    <div class="col m4 s12">
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent">
          <h5>Teachers</h5>
        </li>
        <li ng-repeat="teacher in teachers" class="collection-item">
          {{teacher}} <a href="#"><i class="mdi-content-clear secondary-content" future-ng-click="removeTeacher($index, key.key_name)"></i></a>
        </li>
        <li class="collection-item">
          <div class="input-field">
            <input placeholder="Press enter to add..." id="add_teacher" type="text">
            <label for="add_student" class="active">Add teacher</label>
          </div>
        </li>
      </ul>

      <ul class="collection with-header">
        <li class="collection-header collection-header-accent">
          <h5>Students</h5>
        </li>
        <li ng-repeat="student in students" class="collection-item">
          {{student}} <a href="#"><i class="mdi-content-clear secondary-content" future-ng-click="removeStudent($index, key.key_name)"></i></a>
        </li>
        <li ng-show="!students.length"><i>No students currently enrolled!</i></li>
        <li class="collection-item">
          <button class="waves-effect waves-light btn lighten-1 white-text" future-ng-click="newSubmission()">
            <i class="fa fa-plus-square material-icons left"></i>Enroll here
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>