<div class="container">
  <div class="spacer50"></div>
  <div class="section" ng-show="status === 'loading'">
    <div class="preloader-wrapper active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="status === 'ready'">
    <h2>Class {{ class.long_name }}</h2>
    <hr />
    <p class="description">{{ class.description }}</p>
    <p>Owner: <b>{{ class.owner }}</b></p>
  </div>
  <div class="row" ng-show="status === 'ready'">
    <div class="col m8 s12">
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent"><h3>Projects</h3></li>
        <li ng-repeat="project in projects" class="collection-item">
          <a href="#/classes/{{project.parent}}/projects/{{project.url_name}}">{{project.long_name}}</a>
          <br><span ng-include="'views/due_date.html'"></span>
        </li>
        <li class="collection-item" ng-show="!projects.length"><i>No projects!</i></li>
      </ul>
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent"><h3>Projects (overdue)</h3></li>
        <li ng-repeat="project in overdue_projects" class="collection-item">
          <a href="#/classes/{{project.parent}}/projects/{{project.url_name}}">{{project.long_name}}</a>
          <br><span ng-include="'views/due_date.html'"></span>
        </li>
        <li class="collection-item" ng-show="!overdue_projects.length"><i>No overdue projects!</i></li>
        <li class="collection-item" ng-show="class.owner == current_user">
          <a href="#/classes/{{class.url_name}}/projects/create/">
            <button class="waves-effect waves-light btn lighten-1 white-text">
              <i class="fa fa-plus-square material-icons left"></i>Create a new project
            </button>
          </a>
        </li>
      </ul>
    </div>
    <div class="col m4 s12">
      <ul class="collection with-header">
        <li class="collection-header collection-header-accent">
          <h5>Teachers</h5>
        </li>
        <li ng-repeat="teacher in class.teachers" class="collection-item">
          {{teacher}} <!--<a href="#"><i class="mdi-content-clear secondary-content" ng-click="removeTeacher($index, key.key_name)"></i></a>-->
        </li>
        <li class="collection-item">
          <div class="input-field">
            <form ng-submit="addTeacher()" name="add_teacher_form">
              <input ng-model="teacher" placeholder="Press enter to add..." id="add_teacher" type="text">
              <label for="add_teacher" class="active">Add teacher</label>
            </form>
          </div>
        </li>
      </ul>

      <ul class="collection with-header">
        <li class="collection-header collection-header-accent">
          <h5>Students</h5>
        </li>
        <li ng-repeat="student in class.students" class="collection-item">
          {{student}} <!--<a href="#"><i class="mdi-content-clear secondary-content" future-ng-click="removeStudent($index, key.key_name)"></i></a>-->
        </li>
        <li ng-show="!class.students.length"><i>No students currently enrolled!</i></li>
        <li class="collection-item" ng-show="class.students.indexOf(current_user) == -1 && current_user != class.owner">
          <button class="waves-effect waves-light btn lighten-1 white-text" ng-click="enrollStudent()">
            <i class="fa fa-plus-square material-icons left"></i>Enroll here
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>