<div ng-show="isLoggedIn">
  <div class="container">
    <div class="spacer50"></div>
      <div class="section">
        <h3>Your Classes</h3>
        <hr>
        <ul ng-repeat="class in classes">
          <li>
            <h5>
              <a href="/#/classes/{{ class.url_name }}">{{ class.long_name }}</a>
            </h5>
            <p ng-show="class.teachers.length > 0">
              Teachers: {{ class.teachers.join(', ')}}
            </p>                
            <p ng-show="class.students.length > 0">
              Students: {{ class.students.join(', ')}}
            </p>
          </li>
        </ul>
        <p>
          <a href="/#/classes">All Classes</a>
        </p>
        <p>
          <a href="/#/classes/create">Add a Class</a>
        </p>
      </div>
      <div class="section">
        <h3>Your Projects</h3>
        <hr>
        <ul ng-repeat="project in projects">
          <li>
            <h5>
              <a href="/#/classes/{{ project.parent }}/projects/{{ project.url_name }}">{{ project.long_name }}</a>
            </h5>
            <p ng-show="project.description && project.description !== ''">
              {{ project.description }}
            </p>
            <p ng-show="project.due">
              Due: <span ng-include="'views/due_date.html'"></span>
            </p>
            <p ng-show="project.is_team_based || project.is_team_based.toLowerCase() === 'true'">
              Team based, maximum {{ project.max_team_size }} members.
            </p>
          </li>
        </ul>
      </div>
      <div class="section">
        <h3>Your Submissions</h3>
        <hr>
        <ul ng-repeat="submission in submissions">
          <li>
            <h5>
              <a href="/#/{{ submission.gitolite_url }}">{{ submission.long_name }}</a>
            </h5>
            <p ng-show="submission.contributors.length > 0">Contributors: {{ submission.contributors.join(', ') }}</p>
            <p ng-show="submission.parent">Project: <a href="/#/classes/{{ submission.parent.split('/')[0] }}/projects/{{ submission.parent.split('/')[1] }}">{{ submission.parent.split('/')[1] }}</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ng-show="!isLoggedIn">
  <div class="parallax-container">
    <div class="parallax"><img src="assets/imgs/julien_renvoye.png" style="z-index:-1;"/>
      <div class="spacer50"></div>
      <h1 style="z-index: 1000;" class="white-text center">Welcome to GitSubmit!</h1>
      <h5 class="white-text center">GitSubmit is a fully-functional git repository service, tailored just for academia</h5>
    </div>

  </div>
  <div class="white">
    <div class="container">
      <div class="spacer50"></div>
      <div ng-include="'views/signupform.html'"></div>
      <div class="spacer25"></div>
    </div>
  </div>
  <div class="blue-grey darken-1">
    <div class="container">
      <div class="spacer50"></div>
      <h2 class="center white-text">Features</h2>
      <h5 class="white-text center">You can use GitSubmit in your classroom just like any other git hosting service, without sacrificing academic features.</h5>
      <div class="spacer50"></div>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card-panel white">
            <h5><b>Easy Class Management</b></h5>
            <img src="assets/imgs/class_creation.gif" alt="Easy to use class and project creation and organization" class="responsive-img"/>
            <p>Easy to use class and project creation and organization will make preparing for new classes and projects a breeze!</p>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card-panel white">
            <h5><b>The Same Git You Know</b></h5>
            <img src="assets/imgs/easy_ssh.gif" alt="Fully functional and easy-to-use git repositories" class="responsive-img"/>
            <p>A fully functional and easy-to-use git repository service just like the others will prepare your students for the "real world"</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card-panel white">
            <h5><b>See Code Fast!</b></h5>
            <img src="assets/imgs/repo_browser.gif" alt="Full in-browser repository viewer" class="responsive-img"/>
            <p>Full in-browser repository viewer lets you get to code and see it fast without cluttering up your local files</p>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card-panel white">
            <h5><b>Trust Your Deadlines</b></h5>
            <img src="assets/imgs/deadline.gif" alt="Deadline enforcement" class="responsive-img"/>
            <p>Reliable deadline enforcement ensures that any students too git-savvy for their own good can't cheat your deadlines</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
