<div ng-show="isLoggedIn">
  <div class="container">
    <div class="spacer50"></div>
      <div class="section">
        <h3>Your Classes</h3>
        <hr>
        <ul ng-repeat="class in classes">
          <li>
            <h5>
              <a href="/#/classes/{{ class.url_name }}">{{ class.long_name }}</a>
            </h5>
            <p ng-show="class.teachers.length > 0">
              Teachers: {{ class.teachers.join(', ')}}
            </p>                
            <p ng-show="class.students.length > 0">
              Students: {{ class.students.join(', ')}}
            </p>
          </li>
        </ul>
        <p>
          <a href="/#/classes">All Classes</a>
        </p>
        <p>
          <a href="/#/classes/create">Add a Class</a>
        </p>
      </div>
      <div class="section">
        <h3>Your Projects</h3>
        <hr>
        <ul ng-repeat="project in projects">
          <li>
            <h5>
              <a href="/#/classes/{{ project.parent }}/projects/{{ project.url_name }}">{{ project.long_name }}</a>
            </h5>
            <p ng-show="project.description && project.description !== ''">
              {{ project.description }}
            </p>
            <p ng-show="project.due" ng-class="{
              'red-text text-lighten-1': project.diff_days <= 0,
            }">
              Due: {{ project.due }}
              <span ng-show="project.diff_days < -1">({{ -project.diff_days }} days past due)</span>
              <span ng-show="project.diff_days === -1">(1 day past due)</span>
              <span ng-show="project.diff_days === 0">(due today)</span>
              <span ng-show="project.diff_days > 0">(due in {{ project.diff_days }} days)</span>
            </p>
            <p ng-show="project.is_team_based || project.is_team_based.toLowerCase() === 'true'">
              Team based, maximum {{ project.max_team_size }} members.
            </p>
          </li>
        </ul>
      </div>
      <div class="section">
        <h3>Your Submissions</h3>
        <hr>
        <ul ng-repeat="submission in submissions">
          <li>
            <h5>
              <a href="/#/{{ submission.gitolite_url }}">{{ submission.long_name }}</a>
            </h5>
            <p ng-show="submission.contributors.length > 0">Contributors: {{ submission.contributors.join(', ') }}</p>
            <p ng-show="submission.parent">Project: <a href="/#/classes/{{ submission.parent.split('/')[0] }}/projects/{{ submission.parent.split('/')[1] }}">{{ submission.parent.split('/')[1] }}</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ng-show="!isLoggedIn">
  <div class="parallax-container">
    <div class="parallax"><img src="assets/imgs/julien_renvoye.png" style="z-index:-1;"/>
      <div class="spacer50"></div>
      <h1 style="z-index: 1000;" class="white-text center">Welcome to GitSubmit!</h1>
      <h5 class="white-text center">Short description here</h5>
    </div>

  </div>
  <div class="white">
    <div class="container">
      <div class="spacer50"></div>
      <div ng-include="'views/signupform.html'"></div>
      <div class="spacer25"></div>
    </div>
  </div>
  <div class="blue-grey darken-1">
    <div class="container">
      <div class="spacer50"></div>
      <h2 class="center white-text">Features</h2>
      <div class="row">
        <div class="col s12 m6 l5 offset-l1">
          <div class="card-panel white"><img src="" alt="GIF here" class="responsive-img"/>
            <p>feature description</p>
          </div>
        </div>
        <div class="col s12 m6 l5">
          <div class="card-panel white"><img src="" alt="GIF here" class="responsive-img"/>
            <p>feature description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
