<div class="container">
    <div class="spacer50"></div>
    <h3>Login!</h3>
    <hr/>
    <div class="spacer50"></div>
    <form class="col s12" name="login">
      <div class="row">
        <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
          <input
            type="text"
            id="username"
            ng-model="username"
            name="username"
            placeholder="Username"
            ng-required="true">
          <label class="active" for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            ng-model="password"
            ng-required="true">
          <label class="active" for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col center s12 m12 l12">
          <input
            type="submit"
            value="Submit"
            class="waves-effect waves-light btn lighten-1 white-text"
            ng-click="submit()"
            ng-class="{
              'disabled': status === 'loading',
              'blue': status === 'ready',
              'red': status === 'failed',
              'green': status === 'success'
            }"
            >
        </div>
      </div>
    </form>
</div>
