<div class="container">
  <div class="spacer50"></div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab">
          <a class="active" href="#information">Information</a>
        </li>
        <li class="tab">
          <a href="#settings">Settings</a>
        </li>
        <li class="tab">
          <a href="#notifications">Notifications</a>
        </li>
      </ul>
    </div>
    <div id="information" class="col s12 m12 l12">
      <form class="row" name="changeName">
        <h5>Change Name</h5>
        <div class="row">
          <div class="input-field col s24 m6 l6">
              <input
                type="text"
                id="name"
                name="name"
                ng-model="name"
                ng-required="true">
            <label class="active" for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <input
              type="submit"
              value="Change Name"
              class="blue waves-effect waves-light btn lighten-1 white-text"
              ng-click="change_name()">
          </div>
        </div>
      </form>
      <form class="row" name="changeEmail">
        <h5>Change Email</h5>
        <div class="row">
          <div class="input-field col s24 m6 l6">
              <input
                type="email"
                id="email"
                name="email"
                ng-model="email"
                ng-required="true">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <input
              type="submit"
              value="Change Email"
              class="blue waves-effect waves-light btn lighten-1 white-text"
              ng-click="change_email()">
          </div>
        </div>
      </form>
    </div>
    <div id="settings" class="col s12 m12 l12">
      <h5>Change Your Password</h5>
      <p>
        Passwords must have at least 8 characters.
      </p>
      <form class="col s12" name="password_form">
        <div class="row">
          <div class="input-field col s12 m6 l5 offset-l1">
            <input
              type="password"
              id="password"
              name="password"
              value="password"
              ng-model="password"
              ng-class="{'invalid': password_form.password.$invalid && password_form.password.$touched}"
              ng-pattern='/^.{8,}$/'
              ng-required="true"
              length="8"
              >
            <label for="password">Password</label>
          </div>
          <div class="input-field col s12 m6 l5">
            <input
              type="password"
              id="password_confirm"
              name="password_confirm"
              value="password"
              ng-model="password_confirm"
              ng-class="{'invalid': (password_form.password_confirm.$invalid && password_form.password_confirm.$touched) || password !== password_confirm}"
              ng-pattern='/^.{8,}$/'
              ng-required="true"
              length="8"
              >
            <label for="password_confirm">Confirm Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l5 offset-l1">
            <input
              type="password"
              id="password_current"
              name="password_current"
              value="password"
              ng-model="password_current"
              ng-class="{'invalid': (password_form.password_current.$invalid && password_form.password_current.$touched)}"
              ng-required="true"
              >
            <label for="password_current">Current Password</label>
          </div>
          <div class="col s12 m6 l5">
            <input
              type="submit"
              class="center-on-small-only right waves-effect waves-light btn disabled lighten-1 white-text"
              ng-class="{'disabled': password_form.password.$invalid || password_form.password_confirm.$invalid || password !== password_confirm || password_form.password_current.$invalid,
                         'blue': password_form.password.$valid && password_form.password_confirm.$valid && password === password_confirm && password_form.password_current.$valid}"
              ng-click="submitPassword(password_form.password.$valid && password_form.password_confirm.$valid && password === password_confirm && password_form.password_current.$valid)"
              >
          </div>
        </div>
      </form>
      <div class="spacer30"></div>
      <hr>
      <div class="spacer30"></div>
      <h5>Manage Your SSH Keys</h5>
      <div ng-repeat="key in keys">
        <!-- for documentation on ng-repeat: https://docs.angularjs.org/api/ng/directive/ngRepeat -->
        <div class="row">
          <!-- <div class="col truncate s11 m4 l3 offset-l1">{{key.key_name}}</div> -->
          <!-- <div class="col truncate m7 l6 hide-on-small-only">{{key.key_contents}}</div> -->
          <div class="col truncate m7 l7 offset-m2 offset-l2">{{ key }}</div>
          <div class="col s1 m1 l1">
            <a>
              <i class="mdi-content-clear" ng-click="deleteKey($index, key.key_name)"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l10">
          <a class="center-on-small-only right waves-effect waves-light blue btn lighten-1 white-text modal-trigger" href="#add_ssh_key">
            Add SSH Key
          </a>
        </div>
      </div>
      <div id="add_ssh_key" class="modal">
        <div class="modal-content">
          <form class="col s12" name="ssh_key_form">
            <div class="row">
              <!-- <div class="input-field">
                <input
                  type="text"
                  id="ssh_key_name"
                  name="ssh_key_name"
                  value="ssh_key_name"
                  ng-model="ssh_key_name"
                  ng-class="{'invalid': ssh_key_form.ssh_key_name.$invalid && ssh_key_form.ssh_key_name.$touched}"
                  ng-required="true"
                  >
                <label for="ssh_key_name" class="active">Name</label>
              </div> -->
              <div class="input-field">
                <textarea
                  id="ssh_key_content"
                  class="materialize-textarea"
                  name="ssh_key_content"
                  ng-model="ssh_key_content"
                  ng-class="{'invalid': ssh_key_form.ssh_key_content.$invalid && ssh_key_form.ssh_key_content.$touched}"
                  ng-minlength="1"
                  required="true"
                  ng-required="true"
                ></textarea>
                <label for="ssh_key_content">Key</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l10">
                <!-- <input
                  id="ssh_key_submit"
                  type="submit"
                  value="Save"
                  class="center-on-small-only right waves-effect waves-light btn disabled lighten-1 white-text"
                  ng-class="{'disabled': ssh_key_form.ssh_key_name.$invalid || ssh_key_form.ssh_key_content.$invalid,
                             'blue': ssh_key_form.ssh_key_name.$valid && ssh_key_form.ssh_key_content.$valid}"
                  ng-click="submitKey(ssh_key_form.ssh_key_name.$valid && ssh_key_form.ssh_key_content.$valid)"
                  > -->
                <input
                  id="ssh_key_submit"
                  type="submit"
                  value="Save"
                  class="center-on-small-only right waves-effect waves-light btn disabled lighten-1 white-text"
                  ng-class="{'disabled': ssh_key_form.ssh_key_content.$invalid,
                             'blue': ssh_key_form.ssh_key_content.$valid}"
                  ng-click="submitKey(ssh_key_form.ssh_key_content.$valid)"
                  >

              </div>
            </div>
            <div class="row">
              <p id="ssh_key_submit_status" class="center-align"></p>
            </div>
          </form>
        </div>
      </div>
    <div id="notifications" class="col s12 m12 l12">
      Notifications
    </div>
  </div>
</div>