<div class="container">
    <!-- TODO: make each part in the file path clickable -->
    <!-- e.g. for /assets/js/app.js, assets and js should be clickable -->

    <!-- TODO: list files in the same folder above the file browser -->

    <p>
        Browsing
        <span ng-repeat="token in file_path_tokens">
            <span ng-show="$last">{{ token.name }}</span>
            <a ng-hide="$last" href="{{ token.path }}">{{ token.name }}</a>
            <span ng-hide="$last"> / </span>
        </span>
    </p>

    <!-- NOTE: there must not be any leading spaces within the <pre> element -->
    <pre class="line-numbers" id="browser">
<code id="browser-content"></code>
    </pre>
</div>
